h2 {
  font-size: 22px;
  color: #DA2A00;
  margin: 20px 10px 0 10px;
}

h3 {
  font-size: 18px;
  margin: 10px;
}

body {
  background: -webkit-linear-gradient(90deg, #353341 10%, #928DAB 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #353341 10%, #928DAB 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #353341 10%, #928DAB 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #353341 10%, #928DAB 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #353341 10%, #928DAB 90%); /* W3C */
}

div.container {
  margin-top: 5px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
  background-color: #DA2A00;
}

.nav-pills > li > a, .nav-pills > li > a {
  color: #DA2A00;
}

.btn {
  width: 180px;
  height: 45px;
  font-size: 18px;
}

.chip-sample {
  margin-top: 20px;
}

.combinations.row {
  margin: 10px 10px;
}

.container {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

#dice-box-left {
  height: 250px;
  padding: 110px 0;
}

#dice-box-middle {
  height: 250px;
}

#dice-box-right {
  height: 250px;
  padding: 50px 0;
}

#turn-text {
  font-size: 20px;
}

@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 14.285714285714285714285714%;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 14.285714285714285714285714%;
  }
}
